.sideNav {
    background-color: #fff;
    position: absolute;
    width: 0px;
    right:0;
    top: 0;
    height: 100%;
    transition: width 0.3s;

}
.sideNavActive {
    transition: width 0.3s;
    width: 200px;
}
.close-cont {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.close-cont .close:hover, .close-cont i:hover{
    color: red;
    cursor: pointer;
}
.drop-down {
    background-color: #e2e8f0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}
.drop-down li {
    padding: 9px;
}
.drop-down-open {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}
header {
    display: flex;
}
header i {
    margin-left: auto;
}
header i:hover {
    cursor: pointer;
}
header a:hover {
    background-color:black;
    cursor: pointer;
}

.drop-down-lower div {
    padding: 9px 0;
}

ul li {
    color:black;
}