.comment-p {
    padding: 15px;
}
.check {
    background: green;
    border-radius: 50%;
    margin-top: 29px;
}
h2 {
    font-size: 5.5vw;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1.2px;
}
button { 
    width: 100%;
}
input {
    font-size: 9px !important;
}
input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: red !important;
    font-size: 9px !important;
}

.active {
color: red !important;
}
.pencil {
    font-size: 20px !important;
    padding-top: 10px !important;
}



.list-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    grid-gap: 23px 13px;
}
.list-block {
    display: grid;
    grid-template-columns: 50% 50%;
}
@media only screen and (min-width: 600px) {
    .list-block {
        grid-template-columns: 100%;
        grid-gap: 10px;
    }
}
.list-item {
    /* display: flex;
    justify-content: center; */
  
}

@media only screen and (min-width: 600px) {
    .list-cont {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 53px 13px;
    }
}
.thumb {
    border: 0 solid #e2e8f0;
    border-radius: 5%;
    width: 100%;
    max-height: 200px;
}

.card-cont {
    width: 100%;
}
.title {
    font-weight: 900;
    padding: 20px;
    font-size: 19px;
}
@media only screen and (min-width: 600px) {
    .card-cont{
        float: left;
        width: 25%;
    }
    .title {

        padding: 0;
    }
}

