
  /* .my-modal {
    border: 1px solid springgreen; 
    position:fixed;
    padding:0;
    margin:0;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: background 1s;
  } */
  .my-modal-content {
      width: 200px;
          height: 600px;
          background-color: blue;
          z-index: -2;
          position:absolute; /*it can be fixed too*/
          left:0; right:0;
          top:0; bottom:0;
          margin:auto;
          opacity: 0;
          transition: opacity 1s;
          /*this to solve "the content will not be cut when the window is smaller than the content": */
          max-width:100%;
          max-height:100%;
          overflow:auto;
  }

  .my-modal-open {
    background: rgba(0,0,0,0.5);
  }
  .my-modal-content-open {
    opacity: 1;
  }
 