.vanish {
    display: none;
}
#email{
    border-bottom: 1px solid blanchedalmond !important;
    box-shadow: none !important;
    color: blanchedalmond !important;
}
#email:focus {
    border-bottom: none!important;
}
#email:active {
    border-bottom: none!important;
}
.errorDiv {
    background: red;;
}
.cuisine h4, .dining-style h4{
    font-size: 15px;
}
.filterbar {
    display: grid;
    padding: 35px 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.filterbar form label {
    display: block;
    padding-left: 0px;
}

@media only screen and (min-width: 700px){
    .cuisine h4, .dining-style h4{
        font-size: 24px;
    }
}

@media only screen and (min-width: 1000px){
    .filterbar form p {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .filterbar label {
        padding: 4px 10px;
    }
}
