.img-wrapper {
    /* height: 200px;
    width: 100px; */
}
.slider-img {
    width: 100%;
    height: auto;
 
}
.card {
    /* background-color: #f6f6f6; */
}
.checked {
    color: orange;
  }

.img-cont {
    max-height: 300px;
    overflow: hidden;
    border-radius: 4%;
}
.shtyle {
    position: relative;
    height: 263px;
    width: 340px;
    margin: auto;
}