.map-review-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 0;
    grid-gap: 10px;
  
}
.img-cont {
    max-height: 300px;
    overflow: hidden;
    border-radius: 4%;
}
.slider-img {
    height: 100%;
    width: 100%;
}
.shtyle {
    position: relative;
    height: 150px;
    width: 150px;
 
    padding: 0 10px 0 0;
}
.reviews-ul {
  margin: 0;
}

.reviews-ul  li {
    line-height: 24px;
    font-size: 11px;
}
.votes {
    font-size: 20px !important;
}
.bold-ones {
    font-weight: 900;
    font-size: 16px;
}
.checked {
    color: gold;
}
.more-info2 {
    display: inline-block;
    padding: 10px;
    border-radius: 10%;
    background-color: rgba(0,0,0,0.1);
} 
.more-info2 a {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width:700px) {
    .map-review-section {
        
        grid-template-columns: 1fr 3fr;
    }
    .reviews-ul  li {
        line-height: 30px;
        font-size: 18px;
    }
    .votes {
        font-size: 25px !important;
    }
    .bold-ones {
        font-weight: 900;
        font-size: 30px;
    }
}