@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    font-family: 'Josefin Sans', cursive;   
  }

#title {
    font-family: 'Pacifico', cursive;
}

#root {
  position: relative;
  height: 100%;
}
html, body, #root, .App {
  height: 100%;
}
html {
  height: auto;
  background-color: #fff;
}