.nav-cont {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    background-color: #d64b3e;
    color: blanchedalmond;
    top: 0;
    position: relative;
    z-index: 2;
    padding: 0 18px;
}
@media only screen and (min-width: 900px){
    .nav-cont > * {
        width: 33%;
    }
}

.nav-cont-darken {
    position: relative;
     z-index: 0;
}
.desktop-items {
    display: flex;
    justify-content: center;
}

.desktop-items a {
    display: block;
    height: 100%;
    color: blanchedalmond;
    padding: 13px;
}
.desktop-items a:hover {
    color: blanchedalmond;
    opacity: 0.5;
}
.right-side {
    display: flex;
    align-items: center;
    position: relative;
}
.right-side i:nth-child(2){
    padding: 13px 10px 13px;
}
.activePage {
    background-color: #da5d51;
}
#title {

    display: flex;
    align-items: center;
    font-size: 10px;
}
.menu:hover {
    cursor: pointer;
    background-color: #da5d51;
}
#title {

    padding: 16px 0;
}
@media only screen and (min-width:700px) {
    #title {
        font-size: 18px;
        padding: 0;
    }
}

.material-icons {
    cursor: pointer;
}